/* # btn # */

.btn {
   padding: 1em;
   background-color: $orange;
   display: inline-block;

   font-size: 1.5rem;
   border-radius: .5em;
   border: 2px solid #fff;

   min-width: 15rem;

   &--blue {
      background-color: $dark-blue;
   }
}
