
/* # btn # */

.btn {
   padding: 1em;
   background-color: #e99002;
   display: inline-block;

   font-size: 1.5rem;
   border-radius: .5em;
   border: 2px solid #fff;

   min-width: 15rem;
}

.btn--blue {
   background-color: #165882;
}
